{% from 'macros.html' import renderComments %}

{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="post-container">
    {% include 'posts/_post.html' %}
    {{ renderComments(post, true) }}

    <footer>
      {% if previousPost or nextPost %}
        <nav class="nav-container">
          {% if previousPost %}
            <div>« <a href="/posts/{{ previousPost.slug }}">{{ previousPost.title }}</a></div>
          {% endif %}

          {% if nextPost %}
            <div>» <a href="/posts/{{ nextPost.slug }}">{{ nextPost.title }}</a></div>
          {% endif %}
        </nav>
      {% endif %}
    </footer>
  </div>
{% endblock %}
